# Server
PORT=8000
NODE_ENV=development

# JWT
JWT_SECRET=Enter JWT Secret

# Database (Supabase)
# DATABASE_URL should use the Transaction pooler port (6543)
DATABASE_URL=Enter Database URL

# DATABASE_URL_UNPOOLED should use the Session pooler port (5432) for running migrations with Drizzle
DATABASE_URL_UNPOOLED=Enter Database URL Unpooled
# CORS (frontend URL)
CORS_ORIGIN=http://localhost:5173

# SMTP Configuration (Required for Production Emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
# Replace this with your Gmail address
SMTP_USER=krishnarammhd@gmail.com
# Paste your 16-character Google App Password here (NO spaces)
SMTP_PASS=Enter SMTP Password
SMTP_FROM="Shortify Security krishnarammhd@gmail.com"
